@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap");
:root {
  --font-size: 18px;
  --font-family: "Epilogue", sans-serif;
  --font-weight-normal-x: 500;
  --font-weight-bold: 700;
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
  --Mobile: 375px;
  --Desktop: 1440px;
}
/*body*/
body {
  font-family: var(--font-family);
  background-color: var(--Almost-White);
}
/*give style to main header of the page*/
.main-header {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  justify-content: center;
  align-content: center;
}
.main-header-nav-ul {
  display: flex;
}
.main-header-nav {
  flex: 2;
}
.main-header-nav-ul > li {
  padding: 0 1rem;
  font-weight: var(--font-weight-normal-x);
  position: relative;
}
.break {
  margin-left: auto;
}
.main-header-img {
  margin-right: 2rem;
}
.main-header-img > img {
  max-width: 100%;
}
/* .main-header-nav-ul > li:nth-child(1)>a::after {
  content: url(images/icon-arrow-up.svg);
  
   padding-bottom: 2px; 
  position: absolute;
  right: 0;
  top: 50%; 
  transform: translateY(-50%);


} */
/* .main-header-nav-ul > li:nth-child(2)>a::after {
  content: url(images/icon-arrow-up.svg);
  
   padding-bottom: 2px; 
  position: absolute;
  right: 0;
  top: 50%; 
  transform: translateY(-50%);
} */
.main-header-nav-ul > li > a {
  transition: 0.2s ease;
  font-weight: var(--font-weight-bold);
  color: var(--Medium-Gray);
  font-size: 14px;
  text-transform: capitalize;
}
.main-header-nav-ul > li > a:hover {
  color: var(--Almost-Black);
  border-color: var(--Almost-Black) !important;
}
.main-header-nav-ul > li:last-child > a {
  padding: 0.5rem 1rem;
  border: 2px solid var(--Medium-Gray);
  border-radius: 10px;
}
/*build dropdowns 1*/
.drop-down-menu {
  position: absolute;
  padding: 1rem;
  background-color: var(--Almost-White);
  box-shadow: 0px 0px 11px 1px var(--Medium-Gray);
  width: 120%;
  border-radius: 15px;
  right: 15px;
  transition: opacity 0.2s linear,transform 0.2s linear;
  z-index: 100;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  user-select: none;
}
.drop-down-menu > li {
  margin: 0.7rem 0;
  display: flex;
    align-items: center;
    justify-content: flex-start;
}
.drop-down-menu > li>a {
    color: var(--Medium-Gray);
    font-size: 0.9rem;
    text-transform: capitalize;
}
.drop-down-menu > li>a:hover {
    color: var(--Almost-Black);
}
.todo::before{
  content: url("images/icon-todo.svg");
  height: 100%;
  margin-right:10px ;
  


}
.planning::before{
  content: url("images/icon-planning.svg");
height: 100%;
margin-right:10px ;

}
.calender::before{
  content: url("images/icon-calendar.svg");
height: 100%;
margin-right:10px ;

}
.reminder::before{
  content: url("images/icon-reminders.svg");
height: 100%;
margin-right:10px ;

}
.main-header-nav-ul > li.active > a ~ ul {
  transform: translateY(20px);
  opacity: 1;
  pointer-events: auto;
}
.main-header-nav-ul > li.active > a {
  color: var(--Almost-Black);
} 
/**drop down menu 2*/
.drop-down-menu-2{
  width: 100%;
  padding: .5rem;
}
.drop-down-menu-2>li{
  margin: 1rem;
  white-space: nowrap;
  


}
/*style main of the page*/

.main{
display: flex;
max-width:1300px;
margin: auto;
min-height: 80vh;


}
.btn{
padding:.9rem 1.2rem;
background-color: var(--Almost-Black);
border-radius: 13px;
color: var(--Almost-White);
border: 2px solid transparent;
transition: 0.2s ease-in-out;
font-weight: var(--font-weight-normal-x);


}
.main-content-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding-left: 2rem;
 
  

flex: 1;

}
.main-img-div{
  flex: 1;
  background-image:url("images/image-hero-desktop.png") ;
  background-repeat: no-repeat;
  background-position: center right  ; 
  background-size: contain;
  padding-right: 2rem;

}
.main-client-list{
  display: flex;
  width: 100%;
  
  
}
.main-client-list>li{
  margin: 0 1rem;
  
  
}
.main-client-list>li:first-child{
  margin-left: 0;
  
  
}
.main-content-div>div>p{
  color:var(--Medium-Gray);
  font-size: 1.03rem;
  margin-bottom: 3rem;
  padding-right: 13.5rem;
  text-align: justify;

}
.main-content-div>div>h1{
  margin-bottom: 3rem;
  font-size: 5rem;


}
.main-content-div>div{
  flex: 1;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;


}
.btn:hover{
  border: 2px solid var(--Almost-Black);
  color: var(--Almost-Black);
  background-color: var(--Almost-White);




}
/*mobile layout for main*/
@media(max-width:1080px){
    .main-content-div>div>h1{
      font-size: 4rem;


    }

}

/* @media(max-width:375px){
  .main{
    flex-direction: column;
    min-height: 100vh;

  }
  .main-content-div{
    order: 1;
    padding:0 ;
    flex: 1;



  }
  .main-img-div{
    background-size: contain;
    background-position: center;
    background-image: url("images/image-hero-mobile.png");
    padding: 0;
    flex: 2;


  }
  .main-content-div>div>h1{
    font-size: 2rem;
    margin-bottom: 1rem;


  }
  .main-content-div>div{
    
    align-items:center ;
    flex:0;



  }
  .main-content-div>div>p{
    
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 1rem;
    font-size: .9rem;
    

  }
  .main-client-list{
    justify-content:space-between;
    padding: 0 !important;
    align-items: center;
  }
  
  .btn{
  
    padding: 0.7rem 1rem;
    font-weight:normal;
    
    
    }

}
 */



@media(max-width:817px){
  .main-content-div>div>h1{
    font-size: 3rem;

  }
  .main-content-div>div>p{
    font-size: 1rem;
  
    text-align: left;

  }
  .btn{
    padding: 0.6rem 1rem;


  }



  .main-header-nav-ul{
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 30%;
    background-color: var(--Almost-White);
    padding-top: min(30vh,4rem);
    padding-left:1.2rem ;
    z-index: 1000;
    align-items: flex-start;
  }
  .main-header-nav-ul>li{
      padding: 0.7rem 0;

  }
  .main-header-nav-ul>li>a{
      font-weight: var(--font-weight-normal-x);

  }
  .break{
    margin: 0;

  }


.drop-down-menu{
  padding: 0 0 0 2rem;
  opacity: 1;
  position: relative;
  background-color: none;
  box-shadow: none;
  transform: translateY(0);






}
.drop-down-menu>li{
 margin: 1rem 0;






}

  .main-header-nav-ul > li:nth-child(1) {
    
  
    padding-right: 1rem;
   
  }
  .main-header-nav-ul > li:nth-child(2) {

    padding-right: 1rem;
   
  }
  .main-header-nav-ul > li:last-child {
    align-self: stretch;
  }
  .main-header-nav-ul > li:last-child >a{
    width: 100%;
    text-align: center;
    display: inline-block;
  }
  .main-header-nav-ul > li:nth-last-child(2) {
    align-self: center;
  }




 
}




